<script>
    $(window).ready(() => {
        function affiche_horloge() {
            var $clock = $('.clock');
            var heures = (new Date()).getHours();
            var minutes = (new Date()).getMinutes();
            var secondes = (new Date()).getSeconds();
            if(heures < 10) {
                heures = '0' + heures;
            }
            if(minutes < 10) {
                minutes = '0' + minutes;
            }
            if(secondes < 10) {
                secondes = '0' + secondes;
            }

            if($('.clock .secondes') !== undefined) {
                var heure = '';
                var btn_value = '';
                if($('.clock .secondes').css('display') === 'inline-block') {
                    heure = heures + ':' + minutes + '<span class=\'secondes\' style=\'display:inline-block;\'>:' + secondes + '</span>';
                    btn_value = 'Cacher les secondes';
                }
                else {
                    heure = heures + ':' + minutes + '<span class=\'secondes\' style=\'display:none;\'>:' + secondes + '</span>';
                    btn_value = 'Afficher les secondes';
                }
            }

            var button = '<br /><button onclick="if( $($(\'.clock .secondes\')[0]).css(\'display\') === \'none\' ) { $(\'.clock .secondes\').css(\'display\', \'inline-block\'); $(this).html(\'Cacher les secondes\') } else { $(\'.clock .secondes\').css(\'display\', \'none\'); $(this).html(\'Afficher les secondes\') }" > ' + btn_value + ' </button>';

            $clock.html(heure + button);
        }

        affiche_horloge();
        setInterval(affiche_horloge, 1000);
    });
</script>
<div>
    Nous sommes le @date@ et il est <b class="clock">@heure@</b>
</div>
<Mon-premier-tag class="mon-premier-tag" value="test avec quelques mots"/>
<br/>